*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    background-image: url();
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

header
{
  position: relative;
  max-width: 1430px;
  margin: 20px 30px;
  padding: 16px;
  box-sizing: border-box;
}

.logo
{
  color: black;
  height: 50px;
  font-size: 28px;
  line-height: 65px;
  padding: 7px 30px;
  box-sizing: border-box;
  text-align: center;
  float: left;
  font-weight: 450;
  text-decoration: none;
  font-family: sans-serif;
}

nav
{
  float: right;
}

nav ul
{
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li
{
  list-style: none;
}

nav ul li a
{
  font-size: 18px;
  display: block;
  margin: 19px 25px;
  padding: 6px 15px;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

nav ul li a.active, 
nav ul li a:hover
{
  background: linear-gradient(to right,#eb6825,#f17a28,#fa962b);
  color: #fff;
  border-radius: 10px; 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    margin: 100px 3%;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 45px 60px 0 rgba(0, 0, 0, 0.2);
}

.container:hover {
    box-shadow: 0 45px 60px 0 rgba(0, 0, 0, 0.2);
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 60%;
    margin: 0px 0;
    padding: 5% 20px;
    background: #f4f7f8;
    border-radius: 8px;
    display: inline-block;
}

.textboxxx {
    margin-left: 15%;
}

h3 {
    display: inline;
    font-size: 2em;
}

h4 {
    display: inline;
    font-size: 1.8em;
    color: rgb(84, 90, 92);
}

#EngName {
    margin-left: 170px;
}

#genderdata {
    margin-left: 310px;
}

#phoneno {
    margin-left: 211px;
}

#DOB {
    margin-left: 242px;
}

#EL {
    margin-left: 209px;
}

#BT {
    padding: 8px 10px 8px 10px;
    color: #FFF;
    background-color: #535353;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 30%;
    border: 1px solid #535353;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-left: 280px;
    display: inline;
}

#PWW {
    padding: 5px 10px 5px 10px;
    color: #FFF;
    background-color: #535353;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 30%;
    border: 1px solid #535353;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-left: 420px;
    display: inline;
}